* {-webkit-tap-highlight-color: rgba(0,0,0,0);}

body {-webkit-touch-callout: none;-webkit-text-size-adjust: none;-webkit-user-select: none;background-color:whitesmoke;font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;font-size:12px;height:100%;margin:0px;padding:0px;width:100%;}

h1 {font-size:24px;font-weight:normal;margin:0px;overflow:visible;padding:0px;text-align:center;}
.pagehead, .pagebody, .pagefoot {width:400px}
.pagehead, .pagefoot{height:35px}
.pagebody{height:740px}
.pagemenu{clear:both;width:300px;position:absolute;z-index:1000;border:black 2px solid;margin-left:4px}

.button{padding: 5px 7px;background: #4479BA;color: #FFF;float:right;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
    border: solid 1px #20538D;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2); font-weight:bold}

.button.disabled{color:lightgray}

.pagename {text-align: center; background-color:black;color:white;height:30px;margin-top:0px;padding-top:3px;font-size:x-large;}
.success {color:darkred;padding-left:5px;width:300px}
.logo{margin-left:140px}
.splash .welcome{font-size:xx-large;font-weight:bold;text-align:center}
.splash .safety{padding-top:480px;font-weight:bold;color:darkred;font-size:larger;text-align:center}

.profile p{margin-left:4px;font-weight:bold}
.profile .firstName{margin-left:10px; width:150px}
.profile .lastName{margin-left:10px; width:150px}

.profile .technician{margin-left:15px}
.profile .manager{margin-left:45px}
.profile .currentselection{font-weight:normal;color:blue;padding-left:3px}
.button.close{margin-left:10px}

.loctext, .loclist{padding-left:2px;margin-left:4px;width:150px}
.loclist{margin-bottom:2px;margin-top:3px}

.coach{color:lightgray}
.managerlist{overflow-y:scroll; margin-left:4px; font-weight:bold;clear:both}
.managerlist .header{border: black 2px solid;font-size:larger;text-align: center;}
.managerlist .detail{border:black 1px solid;padding-left:4px}

.manager p{margin-left:4px;font-weight:bold}
.clearall{clear:both}

.workorder p{margin-left:4px;font-weight:bold}
.workorder li{margin-left:14px;}

.about{border:black 2px solid;margin-left:4px}
.aboutheading{font-size:x-large;margin-left:4px;text-align:center}
.aboutdetail{font-size:large;padding-top:10px;margin-left:8px}

.menuentry{border-top:black 1px solid;padding-top:5px; padding-bottom:5px;height:30px;background-color:rgb(239, 253, 234);font-size:large;padding-left:4px}
.firstmenu{border-top:none}
/*
.menubtn{background-image: url("../img/menubtn.jpg");background-repeat: no-repeat;
    background-size:33px 33px;float:left;height:33px;color:rgb(99,122,176);font-size:xx-small;width:33px}
*/
.technician p{margin-left:4px;font-weight:bold}